.skate {
    position: absolute;
    left: 500px;
    bottom: 120px;
    transition: 0.2s;

    &:hover {
        animation: rotateAnimation 1s linear infinite;
    }
}



@keyframes rotateAnimation {
    0% {
        transform: rotateZ(16deg);
    }

    25% {
        transform: rotateZ(22deg);
    }

    50% {
        transform: rotateZ(28deg);
    }

    75% {
        transform: rotateZ(22deg);
    }

    100% {
        transform: rotateZ(16deg);
    }
  }