.shared-todo {
  font-size: 18px;

  & .title {
    font-size: 24px;
  }

  & .todo-list-icon {
    font-size: 24px;
  }
}

.shared-todo-list {
  & > * {
    margin-inline-start: 1.5rem;
    display: none;
  }

  &.opened > * {
    display: block;
  }
}
